<br>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <LABEL>Criterio de busqueda </LABEL>
      <select class="browser-default custom-select " [(ngModel)]="tipoQuery">

        <option value="ASC">Velocidad transf. ascendente</option>
        <option value="DESC">Velocidad transf. descendente</option>
      </select>

    </div>

    <div class="col-sm">

      <div class="md-form">
        <input type="number" id="numberExample" class="form-control" min="0" [(ngModel)]="registros">
        <label for="numberExample">Cantidad de registros</label>
      </div>

    </div>
    <div class="col-sm">
      <button type="sumbit" class="btn btn-success btn-lg" (click)=descargas() *ngIf="poderBuscar(); else btnDisabled">Buscar</button>
      <ng-template #btnDisabled>

        <button type="sumbit" class="btn btn-success btn-lg disabled" (click)=descargas() disabled="true">Buscar</button>
        
      </ng-template>
    </div>
  </div>
</div>



<div class="table-wrapper-scroll-y my-custom-scrollbar">

  <table id="tablaDescarga" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th scope="col">Titulo</th>
        <th scope="col">Extension</th>
        <th scope="col">Velocidad transf.</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of lista;let indice=index">
        <th>{{item.titulo}}</th>
        <td>{{item.extensionArchivo}}</td>
        <td>{{item.velocidadTransf}}</td>
      </tr>
    </tbody>
  </table>

</div>