<br>
<div class="contenedor">
  <div>
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table mdbTable class="table-hover">
      <thead>
        <tr>
          <th scope="row">Título</th>
          <th scope="row">Fecha</th>
          <th scope="row">Extensión</th>
          <th scope="row">Url</th>
          <th scope="row"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contenido of contenidos" id="contenido-{{contenido.idContenido}}">
          <td class="editable" (click)="seleccionarArchivo(contenido)" data-toggle="modal" data-target="#amModal"><i class="far fa-edit lapicito"></i> {{contenido.titulo}}</td>
          <td>{{contenido.fechaPublicacion}}</td>
          <td>{{contenido.extensionArchivo}}</td>
          <td>gs://fir-base-datos-unsam.appspot.com/uploads/{{contenido.url}}</td>
          <td (click)="borrar(contenido)"><i class="fas fa-trash-alt tachito"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>


  <div>
    <button type="button" class="btn btn-success masBoton" (click)="seleccionarArchivo(null)" data-toggle="modal" data-target="#amModal">
        +
    </button>
  </div>

</div>

<app-agregar-modificar [contenido]="archivoSeleccionado"></app-agregar-modificar>
