<br>
<div class="margen">
  <div class="row">

    <div class="col-sm">
      <label for="example-date-input" class="">Fecha Desde</label>
      <div class="form-group">
        <input class="form-control" type="date" value="2011-08-19" id="example-date-input" [(ngModel)]="desde"
          max="{{minimo}}" maxlength="10">
      </div>
      <label for="example-date-input" class="">Fecha Hasta</label>
      <input class="form-control" type="date" value="2011-08-19" id="example-date-input" [(ngModel)]="hasta"
        min="{{desde}}" max="{{minimo}}" maxlength="10">
    </div>


    <div class="col-sm">
      <LABEL>Criterio de busqueda </LABEL>
     <select class="browser-default custom-select " [(ngModel)]="tipoQuery">
         
          <option value="PTJ_ASC">Media puntaje ascendente</option>
          <option value="PTJ_DESC">Media puntaje descendente</option>
          <option value="ENC_ASC">Cantidad Encuestas ascendente</option>
          <option value="ENC_DESC">Cantidad Encuestas descendente</option>
        </select>
        <br>
        <div class="md-form">
           <input  max="50" type="number" id="numberExample"  class="form-control" min="0" [(ngModel)]="registros">
           <label for="numberExample">Cantidad de registros</label>
         </div>

         
    </div>
    <div class="col-sm"><br><br><br><button type="sumbit" class="btn btn-success btn-lg" (click)=encuestas() *ngIf="poderBuscar(); else btnDisabled">Buscar</button>
      <ng-template #btnDisabled>

        <button type="sumbit" class="btn btn-success btn-lg disabled" (click)=encuestas() disabled="true">Buscar</button>
        
      </ng-template></div>
  </div>

</div>
  
    <br>
    <table class="table table-bordered table-striped mb-0">
      <thead>
        <tr>
          <th scope="col">Titulo</th>
          <th scope="col">Extensión</th>
          <th scope="col">Fecha</th>
          <th scope="col">Media puntaje</th>
          <th scope="col">Cantidad de encuestas</th>

        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let item of lista;let indice=index">
          <th>{{item.titulo}}</th>
          <th>{{item.ext}}</th>
          <td>{{item.fecha}}</td>
          <td>{{item.mediaPuntaje}}</td>
          <td>{{item.cantEncuestas}}</td>
        </tr>






      </tbody>
    </table>

  