Ordenar por
<div class="btn-group">
  <button class="btn btn-secondary btn-sm" type="button">
    Small split button
  </button>
  <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu">
    ...
  </div>
</div>
<button type="button" class="btn btn-success">Filtrar</button>
<br>
Cantidad Registros
<input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">

<br>
Fecha
<input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">

Desde
<input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">

Hasta
<input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">