<br>
<div class="contenedor">
  <div class="caja">
    <a [routerLink]="[ '/abm' ]">
      <button type="button" class="btn aqua-gradient">
        Gestión de archivos
      </button></a>

    <a [routerLink]="[ '/descarga' ]">
      <button type="button" class="btn aqua-gradient">
        Datos De Descargas
      </button></a>

    <a [routerLink]="[ '/encuesta' ]">
      <button type="button" class="btn aqua-gradient">
        Datos De Encuestas
      </button></a>
    <a [routerLink]="[ '/categoria' ]">
      <button type="button" class="btn aqua-gradient">
        Datos De Media Titulos
      </button>
    </a>
  </div>
</div>